<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"></link>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <title>Dentist</title>
</head>
<body>
    <div th:include="navbar :: nav"></div>
    <div th:include="header :: header"></div>
    <div class="container">
        <h3 th:text="#{header.bookings}">Broneeritud ajad:</h3>
        <form action="#" th:action="@{/bookings}" th:object="${visits}" method="get">
        <table class="table table-striped">
            <tr>
                <th>Klient</th>
                <th>Arst</th>
                <th>Kuupaev</th>
                <th>Kellaaeg</th>
            </tr>
            <tr th:each="visit : ${visits}">
                <td th:text="${visit.clientName}"></td>
                <td th:text="${visit.dentistName}"></td>
                <td th:text="${visit.visitDate}"></td>
                <td th:text="${visit.visitTime}"></td>
            </tr>
        </table>
        </form>
    </div>
</body>
</html>