<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"></link>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <title>Dentist</title>
</head>

<body>
<!-- Navbar -->
<div th:include="navbar :: nav"></div>
<!--Header-->
<div th:include="header :: header"></div>
<!--Form-->
<div class="container">
    <form action="#" th:action="@{/}" th:object="${dentistListDTO}" method="post">
        <table class="table table-striped">
            <tr>
                <td><p th:text="#{arsti.nimi}" class="text-right">arsti.nimi</p></td>
                <td><select id="dentist" onChange="onChange(this)" th:field="*{selectedDentist}">>
                    <option th:each="dentist : ${dentistListDTO.dentists}"
                            th:value="${dentist}"
                            th:text="${dentist}"
                            style ="background-color: #DCDCDC;"
                    ></option>
                </select></td>
                <td></td>
            </tr>
            <tr>
                <td><p th:text="#{visiidi.kuupaev}" class="text-right">visiidi.kuupaev</p></td>
                <td><input id="datepicker" type="text" readonly='true' th:field="*{selectedDate}"></input></td>
                <td></td>
            </tr>
            <tr>
                <td><p th:text="#{visiidi.ajad}" class="text-right">visiidi.ajad</p></td>
                <td>
                    <input type="text" id="timepicker" th:field="*{selectedTime}"/>
                    <div style="display: none;" id="data" th:fragment="content">
                        <div th:text="${disabled}"></div>
                        <p th:text="${disabledTimes}"></p>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" th:text="#{registreeri.visiidile}"></button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    var disabledDates = [];
    var disabledTimes = [];
    function onChange(selectObject) {
        $.ajax({
            type: "POST",
            url: "/getDates",
            data: selectObject.value,
            cache: false,
            success: function(data){
                disabledDates = extractDataForDatepicker(data);
            }
        });
    }

    $("#datepicker").datepicker({
        minDate: new Date(),
        dateFormat: 'dd.mm.yy',
        onSelect: function(date) {
            var data = {name : $('#dentist').val(), chosenDate: date};
            $.ajax({
                type: "POST",
                url: "/getTimes",
                data: data,
                cache: false,
                success: function(data){
                    disabledTimes = [];
                    extractDataForTimepicker(data);
                }
            });
        },
        beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ disabledDates.indexOf(string) == -1 ]
        }
    });

    function extractDataForDatepicker(data) {
        var string = data.toString();
        var start = string.indexOf("[");
        var end = string.indexOf("]");
        var str = string.substring(start + 1, end);
        var array = str.split(",");
        return array;
    }

    $("#timepicker").timepicker({
        timeFormat: 'H:i',
        step: 60,
        minTime: '8:00am',
        maxTime: '16:00',
        disableTextInput: true
    })

    function extractDataForTimepicker(data) {
        extractDataForDatepicker(data).forEach(convertForTimepicker);

    }

    function convertForTimepicker(item, index) {
        var string = item.toString();
        if (string.length > 5) {
            string = string.substring(1);
        }
        var startingHour = parseInt(string.substring(1,2)) + 1;
        var untillString = string.split('');
        untillString[1] = startingHour.toString();
        untillString = untillString.join('');
        var temp = [string, untillString];
        disabledTimes.push(temp);
        $('#timepicker').timepicker('option', { disableTimeRanges: disabledTimes });
    }
</script>
</body>
</html>