<!DOCTYPE html>
<html >
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a class="nav-link" th:href="@{/}"><span th:text="#{nav.avaleht}">Avaleht</span></a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a class="nav-link" th:href="@{/bookings}"><span th:text="#{nav.regleht}">Registreeringud</span></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>